<mat-card class='card-section'>
    <mat-card-title>Sign-in with Azure AD</mat-card-title>
    <mat-card-subtitle>Getting an access token with Azure AD and calling a web API</mat-card-subtitle>
    <mat-card-content>This sample demonstrates how to use the Microsoft Authentication Library for Angular (MSAL Angular) to get an access token and call a web API secured by Azure AD.</mat-card-content>
    <mat-card-actions>
      <button mat-raised-button [routerLink]="['todo-view']">Get My Tasks</button>
    </mat-card-actions>
    <mat-card-content></mat-card-content>
</mat-card>