<mat-card class="card-section" *ngIf="!loginDisplay">
  <mat-card-title>Angular multi-tenant single-page application</mat-card-title>
  <mat-card-subtitle>Sign-in to see who else is in your tenant</mat-card-subtitle>
  <mat-card-content>This sample demonstrates how to use the Microsoft Authentication Library for Angular (MSAL Angular) to create and serve a multi-tenant application that can sign-in users from any tenant and display other users that belong to their tenant.</mat-card-content>
</mat-card>

<mat-card-actions class="card-section">
  <button mat-raised-button *ngIf="loginDisplay" [routerLink]="['todo-view']">Get My Tasks</button>
</mat-card-actions>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="loginDisplay">
  <!-- Claim Column -->
  <ng-container matColumnDef="claim">
    <th mat-header-cell *matHeaderCellDef> Claim </th>
    <td mat-cell *matCellDef="let element"> {{element.claim}} </td>
  </ng-container>

  <!-- Value Column -->
  <ng-container matColumnDef="value">
    <th mat-header-cell *matHeaderCellDef> Value </th>
    <td mat-cell *matCellDef="let element"> {{element.value}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>