<mat-toolbar color="primary">
    <a class="title" href="/"> {{ title }}</a>
    <div class="toolbar-spacer"></div>

    <a mat-button [routerLink]="['profile']">Profile</a>
    <a mat-button [routerLink]="['contacts']"> Contacts</a>


    


    <button mat-raised-button *ngIf="!loginDisplay" (click)="login()">
        Login
    </button>

    <button mat-button #ddTrigger="matMenuTrigger" [matMenuTriggerFor]="menu">Menu</button>

    <mat-menu #menu="matMenu" [overlapTrigger]="false">
        <div (click)="cancelClick($event)" class="dropdown">
             <button mat-flat-button color="primary">Save</button>
            <button mat-button >Cancel</button>
        </div>
    </mat-menu>

</mat-toolbar>

<div class="container">
    <!--This is to avoid reload during acquireTokenSilent() because of hidden iframe -->
    <router-outlet *ngIf="!isIframe"></router-outlet>
</div>

<footer *ngIf="loginDisplay">
    <mat-toolbar>
        <div class="footer-text">
            How did we do?
            <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbR73pcsbpbxNJuZCMKN0lURpUOU5PNlM4MzRRV0lETkk2ODBPT0NBTEY5MCQlQCN0PWcu"
                target="_blank">
                Share your experience with us!</a>
        </div>
    </mat-toolbar>
</footer>