<mat-card class='card-section'>
    <h1>Edit a task</h1>
    <form #edit="ngForm" (ngSubmit)="editTodo(edit.value)">
        <mat-form-field appearance="fill" class="form-field">
            <input matInput type="text" name="description" placeholder="task" class="input-field"
                [(ngModel)]="todo.description">
        </mat-form-field>

        <!-- <mat-form-field appearance="fill">
            <mat-label>Assign</mat-label>
            <mat-select name="ownerDisplayName" [(ngModel)]="todo.ownerDisplayName">
                <mat-option *ngFor="let assignee of assignees" [value]="assignee">
                    {{assignee}}
                </mat-option>
            </mat-select>
        </mat-form-field> -->

        <button mat-raised-button color="primary" type="submit" value="submit" class="submit-button">Edit</button>
    </form>
</mat-card>