<mat-card class='card-section'>
    <form #edit="ngForm" (ngSubmit)="editProfile(edit.value)">
        <mat-label>userPrincipalName</mat-label>
        <mat-form-field appearance="fill" class="form-field">
            <input matInput type="text" name="userPrincipalName" class="input-field"
                [(ngModel)]="profile.userPrincipalName">
        </mat-form-field>
        <mat-label>givenName</mat-label>
        <mat-form-field appearance="fill" class="form-field">
            <input matInput type="text" name="givenName" class="input-field"
                [(ngModel)]="profile.givenName">
        </mat-form-field>
        <mat-label>surname</mat-label>
        <mat-form-field appearance="fill" class="form-field">
            <input matInput type="text" name="surname" class="input-field"
                [(ngModel)]="profile.surname">
        </mat-form-field>
        <mat-label>jobTitle</mat-label>
        <mat-form-field appearance="fill" class="form-field">
            <input matInput type="text" name="jobTitle" class="input-field"
                [(ngModel)]="profile.jobTitle">
        </mat-form-field>
        <mat-label>mobilePhone</mat-label>
        <mat-form-field appearance="fill" class="form-field">
            <input matInput type="text" name="mobilePhone" class="input-field"
                [(ngModel)]="profile.mobilePhone">
        </mat-form-field>
        <mat-label>preferredLanguage</mat-label>
        <mat-form-field appearance="fill" class="form-field">
            <input matInput type="text" name="preferredLanguage" placeholder="task" class="input-field"
                [(ngModel)]="profile.preferredLanguage">
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" value="submit" class="submit-button">Submit</button>
    </form>
</mat-card>